*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.head-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: white;
}

hr{
    height: 10px;
}

.container-price{
    background-color: white;
    width: 400px;
}

.first{
    color: lightgray;
    margin-left: 10px;
}

p{
    color: whitesmoke;
    margin-left: 10px;
}

.last{
    color: red;
    position: absolute;
    right: 490px;
    top: 510px;
}
